hr,
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
p {
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
  color: black;
  border-color: #000000;
}

.body-background {
  background: #8e9eab; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    white,
    #636369
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    white,
    #636369
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.project-footer-background {
  background-color: Black;
}

.project-green-background {
  background-color: green;
}

.bold {
  font-weight: 700;
}

.index-button-project {
  letter-spacing: 2px;
  filter: drop-shadow(-4px 2px 4px #000000);
  background-color: green;
  width: 40%;
}

.index-button-update {
  background: black;
  color: white;
  border: 2px solid;
  border-color: white;
  padding: 0.5em 3em;
  font-size: 1em;
  transition: all 0.25s;
}

.index-button-update:hover {
  border-color: green;
  color: green;
  box-shadow: 0 0.5em 0.5em -0.4em green;
  transform: translateY(-0.25em);
}

li,
ul,
p {
  opacity: 100%;
}

.current-box {
  background-color: green;
}

.get-in-touch {
  background-color: white;
}

@keyframes myAnim {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}

.profile-image {
  width: 100%;
}

.project-image {
  height: 80%;
  max-width: 600px;
  width: 100%;
  border: 2px, solid;
}

.center-project-img {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.caption {
  caption-side: top;
  text-align: center;
  font-weight: bold;
  /* text-decoration: none; */
}

.mySlides {
  width: 60%;
}

.project-background {
  background-color: white;
}

.grow img {
  transition: 2s ease;
}

.grow img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  border-color: green;
}
