html, body{
  margin: 0;
  font-size: 25px;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ul {
  font-family: "Roboto", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  box-shadow: 17px 9px 52px 23px rgba(255,255,255,0.5);
  background-color: rgba(255, 255, 255, 0.35);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3{
  font-size: 1rem;
}

p {
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: .8rem;
  box-shadow: 17px 9px 52px 23px rgba(255,255,255,0.5);
  background-color: rgba(255, 255, 255, 0.35);
}

.MyNameHeading {
  text-align: center;
  font-family: "Press Start 2P", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  margin-bottom: 30px;
}

.barPercentages {
  font-size: .75rem;
}

.body-background {
  background-image: url("./OtherPictures/lightGreenWhiteBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: black;
}

.project-footer-background {
  background-color: Black;
}

.project-green-background {
  background-color: green;
}

.bold {
  font-weight: 700;
}

.index-button-project {
  letter-spacing: 2px;
  filter: drop-shadow(-4px 2px 4px #000000);
  background-color: green;
  width: 40%;
}

.index-button-update {
  background: black;
  color: white;
  border: 2px solid;
  border-color: white;
  padding: 0.5em 3em;
  font-size: .8em;
  transition: all 0.25s;
  margin-bottom: 15px;
}

.index-button-update:hover {
  border-color: green;
  color: green;
  box-shadow: 0 0.5em 0.5em -0.4em green;
  transform: translateY(-0.25em);
  cursor: pointer;
}

li,
ul,
p {
  opacity: 100%;
}

.current-box {
  background-color: green;
}

.get-in-touch {
  background-color: white;
}

hr {
  border-top: 1px solid black;
}

@media (min-width: 601px){
  .naviBar{
    width: 33.3333%;
  }
}

.navItem {
  margin-top: 15px;
}

#navItemClose {
  text-align: right;
  padding-right: 80px;
}

.navAnchor {
  text-decoration: none;
  margin-left: 15px;
}

@media (min-width: 601px){
  .third {
    padding:0 8px;
    float: left;
    width: 33.33333%
  }
}

@media (min-width: 601px) {
  .twothird {
    padding:0 8px;
    float: left;
    width: 66.66666%
  }
}

.profile-image {
  width: 100%;
}

.project-image {
  max-width: 600px;
  width: 100%;
  border: 2px, solid;
}

.center-project-img {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.caption {
  caption-side: top;
  text-align: center;
  font-weight: bold;
  /* text-decoration: none; */
}

.mySlides {
  width: 60%;
}

.project-background {
  background-color: white;
}

.grow img {
  transition: 2s ease;
}

.grow img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  border-color: green;
}

.home-caption-projects{
  font-size: 20px;
  font-style: italic;
}

footer {
  margin: 0;
}

.footerCss a p{
  background: none;
  box-shadow: none;
  font-size: .9rem;
  text-decoration: none;
  letter-spacing: 8px;
}

.footerCss a {
  text-decoration: none;
}

.fa-linkedin:before {
    content: "\f0e1";
    font-size: 1.5rem;
}
